.content-box {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px;
  border-radius: 6px;
  background-color: #f9f9f9;
  text-align: center;
}

.content-box h2 {
  margin-bottom: 10px;
  color: #333;
}

.content-box a, .content-box button {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #029b16;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.content-box a:hover, .content-box button:hover {
  background-color: #5ce042;
}

/* Ajustes específicos para el botón "Mostrar Temas" */
.content-box button.show-details {
  background-color: #dddddd;
  color: black;
}

/* Estilos generales para los contenedores de niveles y temas */
.level-container {
  margin-top: 15px;
}

.topic-title {
  background-color: #e7e7e7;
  color: #333;
  padding: 5px 8px;
  margin-bottom: 5px;
  width: auto;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.topic-content {
  background-color: #f9f9f9;
  padding: 10px;
  border-left: 3px solid #01717b;
  margin-bottom: 10px;
}

/* Estilos diferenciados por nivel */
.nivel-sétimo .topic-title { background-color: #770486; }
.nivel-octavo .topic-title { background-color: #06b5d8; }
.nivel-noveno .topic-title { background-color: #c77d06; }
